mat-card {
    margin: 0px 10px 0px 10px;
    background-color: rgb(248, 250, 123);
    color: #569BD0;
}

mat-form-field {
    margin: 0px 5px;
}

button {
    margin: 0px 5px;
}

mat-grid-list {
    margin-top: 20px;
}

mat-card-header {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: large;
}

mat-card-content {
    text-align: left;
}

.mat-card .mat-divider-horizontal {
    position: relative;
}

.linhaCard {
    margin-top: 10px;
    margin-bottom: 10px;
}

.linhaCard > label {
    font-weight: bold;
}